.example-spacer {
    flex: 1 1 auto;
}

.topbar-elem-spacer {
    padding-left: 3%;
    padding-right: 3%;
}

.topbar-button-normal {
    margin-left: 2%;
    font-size:20px !important;
}

.topbar-button-clicked {
    margin-left: 2%;
    font-size:20px !important;
    font-style: italic;
    font-stretch: expanded;
    color: khaki;
}

.topbar-icon-class {
    font-size:20px !important;
    margin-right: 2%;
}